YOUTUBE_API_KEY=put_your_youtube_api_key_here
GCP_PROJECT_ID=pput_your_gcp_project_id_here
BQ_DATASET=youtube_analytics
BIGQUERY_DATASET_RAW=youtube_raw
BIGQUERY_DATASET_CLEAN=youtube_clean
VIDEOS_PER_ARTIST=50
COMMENTS_PER_VIDEO=20